*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main, header{
    margin: 5vh 10vw;   
}
header{
    display: flex;
    justify-content: space-between;
}
.content{
    display: grid;
    grid-template-columns: repeat((3, 1fr));
gap: 1rem;
}
.product{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#cart-button {
    background: none;
    border: none;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

#cart {
    position: relative;
}

#cart-button img {
    max-width: 32px;
    max-height: 32px;
}

#cart-button:hover {
    background-color: rgb(170, 170, 255);
}

#cart-button.active {
    background-color: rgb(170, 255, 170);
}

#cart-products::before {
    content: '';
    border: transparent solid 16px;
    border-bottom: solid #000 16px;
    position: relative;
    top: -2.7rem;
    left: 15.8rem;
    z-index: -1;
}

#cart-products {
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #fff;
    top: 59px;
    right: 0rem;
    left: -16rem;
    position: absolute;
    padding: 10px;
    text-align: left;
}

.hide { 
    display: none; 
}

#cart-products p {
    line-height: 2rem;
}

#cart-products p img {
    max-height: 2rem;
    max-width: 2rem;
}

#cart-products button {
    border: 1px solid #000;
    margin: 0.5rem 0;
}